@charset "utf-8";
/* 你自己的样式 */
.loginBox {
	position: absolute;
	width: 573px;
	height: 286px;
	background: url(../images/admin-loginform-bg.png) no-repeat;
	background-size:100% 100%;
	left: 50%;
	top: 50%;
	margin-left: -287px;
	margin-top: -162px;
	padding-top: 38px
}

.loginBox2 {
	position: absolute;
	width: 573px;
	height: 245px;
	background: url(../images/admin-loginform-bg.png) no-repeat;
	background-size:100% 100%;
	left: 50%;
	top: 50%;
	margin-left: -287px;
	margin-top: -142px;
	padding-top: 38px
}